<template>
    <h1>ACCOUNT FORM</h1>
    <lightning-record-edit-form object-api-name="Account">
        <lightning-messages>
        </lightning-messages>
        <lightning-input-field field-name="Name"></lightning-input-field>
        <lightning-input-field field-name="Phone"></lightning-input-field>
        <lightning-input-field field-name="Website"></lightning-input-field>
        <lightning-input-field field-name="BillingStreet"></lightning-input-field>
        <lightning-input-field field-name="BillingCity"></lightning-input-field>
        <lightning-input-field field-name="BillingCountry"></lightning-input-field>
    </lightning-record-edit-form>
</template>