<template>
    <template if:true={contactFlag}>
        <h1>CONTACT FORM</h1>
    <lightning-record-edit-form object-api-name="Contact">
        <lightning-messages>
        </lightning-messages>
        <lightning-input-field field-name="FirstName"></lightning-input-field>
        <lightning-input-field field-name="LastName"></lightning-input-field>
        <lightning-input-field field-name="BirthDate"></lightning-input-field>
        <lightning-input-field field-name="Phone"></lightning-input-field>
        <lightning-input-field field-name="Email"></lightning-input-field>
        <lightning-input-field field-name="Fiscal_Code__c"></lightning-input-field>
    </lightning-record-edit-form>
</template>
</template>